<section id="contact" class="s-contact">
  <div class="row section-header" data-aos="fade-up">
    <div class="col-full">
      <h3 class="subhead subhead--light">Contact Us</h3>
      <h1 class="display-1 display-1--light">
        Have questions or need assistance? Reach out to us and we'll get back to you promptly. Contact us today!
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-full contact-main" data-aos="fade-up">
      <p>
        <a href="#" class="contact-email"><span class="__cf_email__">lsubhash8888&#64;gmail.com</span></a>
        <span class="contact-number">+91 97245 12043</span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-five tab-full contact-secondary" data-aos="fade-up">
      <h3 class="subhead subhead--light">Where To Find Us</h3>
      <p class="contact-address">
        Ahmedabad, Gujarat<br />
        382330, India
      </p>
    </div>
    <div class="col-five tab-full contact-secondary" data-aos="fade-up">
      <h3 class="subhead subhead--light">Engage with Us</h3>
      <ul class="contact-social">
        <li>
          <a href="https://www.facebook.com/subhash.labana.267" target="_blank"><i class="fab fa-facebook"></i></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/subhash-labana-078a9215a" target="_blank"
            ><i class="fab fa-linkedin"></i
          ></a>
        </li>
        <li>
          <a href="https://www.instagram.com/subhash_labana267/" target="_blank"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a href="https://stackoverflow.com/users/12464144/subhash-labana" target="_blank"
            ><i class="fab fa-stack-overflow"></i
          ></a>
        </li>
        <li>
          <a href="https://subhashlabana.medium.com/" target="_blank"><i class="fab fa-medium"></i></a>
        </li>
      </ul>
      <div class="contact-subscribe">
        <form id="mc-form" class="group mc-form" novalidate="true">
          <input type="email" value name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required />
          <input type="submit" name="subscribe" value="Subscribe" />
          <label for="mc-email" class="subscribe-message"></label>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-full cl-copyright">
      <span> Copyright &copy; 2024 All rights reserved </span>
    </div>
  </div>
  <div class="cl-go-top">
    <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
  </div>
</section>
