<header class="s-header">
  <div class="header-logo">
    <a class="site-logo" href=""> Adopt Desire </a>
  </div>
  <nav class="header-nav">
    <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>
    <div class="header-nav__content">
      <h3>Adopt Desire</h3>
      <ul class="header-nav__list">
        <li class="current">
          <a class="smoothscroll" href="#home" title="home">Home</a>
        </li>
        <li>
          <a class="smoothscroll" href="#about" title="about">About</a>
        </li>
        <li>
          <a class="smoothscroll" href="#services" title="services">Services</a>
        </li>
        @if (isFeaturedWorks) {
          <li>
            <a class="smoothscroll" href="#works" title="works">Works</a>
          </li>
        }
        <li>
          <a class="smoothscroll" href="#contact" title="contact">Contact</a>
        </li>
      </ul>
      <p>Transforming businesses with customized, advanced tech solutions for ultimate growth.</p>
      <ul class="header-nav__social">
        <li>
          <a href="https://www.facebook.com/subhash.labana.267" target="_blank"><i class="fab fa-facebook"></i></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/subhash-labana-078a9215a" target="_blank"
            ><i class="fab fa-linkedin"></i
          ></a>
        </li>
        <li>
          <a href="https://www.instagram.com/subhash_labana267/" target="_blank"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a href="https://stackoverflow.com/users/12464144/subhash-labana" target="_blank"
            ><i class="fab fa-stack-overflow"></i
          ></a>
        </li>
        <li>
          <a href="https://subhashlabana.medium.com/" target="_blank"><i class="fab fa-medium"></i></a>
        </li>
      </ul>
    </div>
  </nav>
  <a class="header-menu-toggle" href="#0">
    <span class="header-menu-icon"></span>
  </a>
</header>
