<section
  id="home"
  class="s-home target-section"
  data-parallax="scroll"
  data-image-src="/assets/images/portfolio/banner.png"
  data-natural-width="3000"
  data-natural-height="2000"
  data-position-y="top"
>
  <div class="shadow-overlay"></div>
  <div class="home-content">
    <div class="row home-content__main">
      <h1>
        Adopt Desire Elevate <br />
        Your Tech
      </h1>
      <p>
        Transforming businesses with customized, <br />
        advanced tech solutions for ultimate growth.
      </p>
    </div>
  </div>
  <ul class="home-sidelinks">
    <li>
      <a class="smoothscroll" href="#about">About<span>Discover Our Team</span></a>
    </li>
    <li>
      <a class="smoothscroll" href="#services">Services<span>How We Help</span></a>
    </li>
    <li>
      <a class="smoothscroll" href="#contact">Contact<span>Drop Us a Line</span></a>
    </li>
  </ul>
  <ul class="home-social">
    <li class="home-social-title">Engage with Us</li>
    <li>
      <a target="_blank" href="https://stackoverflow.com/users/12464144/subhash-labana">
        <i class="fab fa-stack-overflow"></i>
      </a>
    </li>
    <li>
      <a href="https://subhashlabana.medium.com/" target="_blank">
        <i class="fab fa-medium"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/subhash-labana-078a9215a" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
  </ul>
  <a href="#about" class="home-scroll smoothscroll">
    <span class="home-scroll__text">Scroll Down</span>
    <span class="home-scroll__icon"></span>
  </a>
</section>
